.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --font-size-primary: 20px;
  --background-color-primary: #30313b;
  --background-color-secondary-light: #4e5161;
  --background-color-secondary-dark: #444654;
  height: 100vh;
  width: 100%;
  font-size: var(--font-size-primary);
  background-color: var(--background-color-primary);
  color: white;
}