:root body.light {
  --background: #ffc8ef;
  --background-lighter: #ffecf8;
  --contrast-color: #f59c27;
  --font-color: white;
  --secondary-font-color: #f59c27;
  --background-color-message-human: #ffbc64;
  --background-color-message-bot: #f59c27;
  --placeholder-and-buttons: var(--background-lighter);
}

:root body.dark {
  --background: #30313b;
  --background-lighter: #444654;
  --contrast-color: #444654;
  --font-color: white;
  --secondary-font-color: #eee;
  --background-color-message-human: #5e6484;
  --background-color-message-bot: #444654;
  --placeholder-and-buttons: #d4d2d2;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

body {
  background-color: var(--background);
}

.App {
  text-align: center;
}

.App-header {
  color: var(--secondary-font-color);
  text-align: center;
  background-color: var(--background-lighter);
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.App-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 70px;
  bottom: 0px;
}