.settings-main {
  --font-size-primary: 20px;
  --background-settings-primary: #30313b;
  --background-settings-message-human: #4e5161;
  --background-settings-message-bot: #444654;
  font-size: var(--font-size-primary);
  overflow-y: scroll;
  width: 100%;
  max-width: 800px;
}

.category-name {
  padding: 0 20px;
  margin: 10px auto;
  color: var(--secondary-font-color);
}

.column-parent {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pdf-name-wrapper {
  text-align: center;
  background-color: var(--contrast-color);
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding: 10px 10px;
  margin: 5px 1px;
  border-radius: 50px;
  width: auto;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.pdf-name {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: var(--font-color);
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.pdf-name-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.pdf-name-wrapper.active {
  background-color: var(--font-color);
  border-color: var(--contrast-color);
}

.pdf-name-wrapper:hover .pdf-name {
  color: var(--contrast-color);
}

.pdf-name-wrapper.active .pdf-name {
  color: var(--contrast-color);
}

.save-button {
  position: fixed;

  top: 15px;
  padding: 5px 10px;
  right: 20px;
  background-color: var(--font-color);
  color: var(--contrast-color);
  border: 1px solid var(--background);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#close-button {
  position: fixed;
  top: 20px;
  left: 20px;
  /* width: 50px;
  height: 50px; */
  background: none;
  border: none;
}

#close-button svg {
  fill: var(--font-color);
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#close-button svg:hover {
  fill: #ffffff;
  transform: rotateZ(90deg);
}
